<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <pre>hi <%= username %> </pre>
    <p id="remotename"></p>

    <button id="connectbutton">Connect with others</button>
    <textarea id="messagearea" name="message" rows="5" cols="50"></textarea>
    <button id="sendmessage">Send message</button>

    <div id="messagesent"></div>
    <div id="aiSupp"></div>

    <!-- Import SocketIO for signalling -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Import WebRTC adapter for compatibility with all the browsers  -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <script type="module" src="js/main.js"></script>
    <script type="module" src="js/config.js"></script>
  </body>
</html>