<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        body{
            background-color: black;
            color: white;
            font-family: monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            font-size: larger;
        }
        input{
            background-color: black;
            color: white;
            font-size: larger;
            outline: none;
            border: 1px solid white;
            padding: 10px;
        }
        button{
            background-color: black;
            color: white;
            font-size: large;
            border: 1px solid white;
            padding: 10px;
        }
        button:hover{
            background-color: white;
            color: black;
        }
        #regbtn{
            margin: 30px;
            font-size: large;
        }
    </style>

    <script>
        async function loginCode() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password }) // Corrected variable names
                });

                if (response.ok) {
                    console.log('Login successful');
                    window.location.href = '/chat';
                } else {
                    alert('Login failed. Please check your credentials.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            }
        }
    </script>

</head>
<body>  
    
    <h3>Login</h3>
    <input type="text" name="username" id="username" placeholder="Username">
    <br>
    <input type="password" name="password" id="password" placeholder="Password">
    <br>
    <button type="submit" id="login" onclick="loginCode()">Login</button>

    <a href="/reg" id="regbtn">register</a>
</body>
</html>
