<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <style>
         body{
            background-color: black;
            color: white;
            font-family: monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 80vh;
            font-size: larger;
            gap: 15px;
        }
        input{
            background-color: black;
            color: white;
            font-size: larger;
            outline: none;
            border: 1px solid white;
            padding: 10px;
        }
        button{
            background-color: black;
            color: white;
            font-size: large;
            border: 1px solid white;
            padding: 10px;
        }
        button:hover{
            background-color: white;
            color: black;
        }
  
    </style>

    <script>
        async function regCode() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password }) // Corrected variable names
                });

                if (response.ok) {
                    console.log('Registration successful');
                    window.location.href = '/';
                } else {
                    const errorMessage = await response.text(); // Extract error message from response
                    alert(`Registration failed: ${errorMessage}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            }
        }
    </script>

</head>
<body>
    <h3>register</h3>
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit" id="register" onclick="regCode()">Register</button>
</body>
</html>
